

.border-hover {
    border: 1px solid transparent;
}

.border-hover:hover {
    border: 1px solid var(--tblr-blue) !important;
}

.cursor-text {
    cursor: text;
}

.dropdown-toggle {
    height: 100%;
}

video.hideControls::-webkit-media-controls-enclosure {
    display: none;
}